@charset "UTF-8";

/* ページスタイル */
body {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1.75; */
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    img {
        max-width: 100%;
        margin-left: auto;
    }
}


ul {
    list-style: none;
}

/* コンテナ */
.container {
    padding: 3.125rem 0;
}

@media(min-width: 768px) {
    .container {
        max-width: 75rem;
        margin: 0 auto;
        padding: 5rem 0;
    }
}

/* 部品 */

/* font */
.poppins {
    font-family: Poppins, sans-serif;
}

.marcellus {
    font-family: "Marcellus", serif;
}

.eb__garamond {
    font-family: "EB Garamond", serif;
}

.flex {
    display: flex;
}

/* section */

.section__title {
    font-weight: bold;
    font-size: 1.875rem;
    text-align: center;
    letter-spacing: .05em;
    padding-top: 1.2rem;
    /* padding-left: 1rem; */
    /* padding-bottom: 1.25rem; */
}

@media (min-width: 768px) {
    .section__title {
        font-size: 2.25rem;
        padding-top: 3.1rem;
    }
}

.section__maintitle {
    font-size: 1.875rem;
}

@media (min-width: 768px) {
    .section__maintitle {
        font-size: 2.8125rem;
    }
}

.section__subtitle {
    padding-top:.2rem;
    padding-left:.2rem;
    font-size: 1rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .section__subtitle {
        padding-top:.4rem;
        padding-left:.3rem;
        font-size: 1.25rem;    }
}

.section__bottom {
    margin-inline: 1rem;
    margin-top: 9.8rem;
    margin-bottom: 3.15rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 1rem;
    line-height: 1.5;
    padding-top: 1rem;
    padding-bottom: 2.1rem;
    background-color: #F0F4FF;
}

@media (min-width: 768px) {
    .section__bottom {
        max-width: 62.5rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        column-gap: 3.7rem;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom:3.1rem;
        padding-top: 2.2rem;
        padding-bottom: 2.45rem;
    }
}

.section__text {
    display: flex;
    text-align: center;
    flex-direction: column;
    row-gap: .1rem;
    /* padding-inline: 2.3rem; */
    /* padding-bottom: .55rem; */
}

@media (min-width: 768px) {
    .section__text {
        text-align: left;
    }
}

.section__name {
    padding-top: .3rem;
    padding-left: .15rem;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: .1em;
}

@media (min-width: 768px) {
    .section__name {
        font-size: 1.5rem;
    }
}

.section__tax {
    padding-top: .1rem;
    padding-left: .5rem;
    padding-right: .4rem;
    font-size: .875rem;
    letter-spacing: .06em;
}

@media (min-width: 768px) {
    .section__tax {
        padding:.25rem 0 0 .1rem;
        font-size: 1rem;
    }
}

.section__fee {
    padding-left: .1rem;
    letter-spacing: .1em;
}

/* button */

.section__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
}

@media (min-width: 768px) {
    .section__button {
        flex-direction: row;
        column-gap: 2rem;
        padding-top:.16rem;
    }
}

.button {
    /* max-width: 18.75rem; */
    padding: .99rem 3.8rem;
    margin-top: .2rem;
    color: #fff;
    border-radius: 2.0625rem;
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
}

@media (min-width: 768px) {
    .button {
        border-radius: 2.375rem;
    }
}

.button__lightblue {
    margin-left: .05rem;
    background-color: #46C4DB;
}

@media (min-width: 768px) {
    .button-lightblue {}
}

.button__green {
    padding: .99rem 7.1rem;
    margin-top: .24rem;
    background-color: #5DD5AB;
}

@media (min-width: 768px) {
    .button__green {
    }
}

/* カルーセルのスタイル */

.slick-dots {
    bottom: -1.7rem;
    left:-.06rem;
    display: flex;
    column-gap: .07rem;
    justify-content: center;
}

@media (min-width :768px) {
    .slick-dots {
        /* display: flex; */
        /* justify-content: flex-end; */
        /* padding-right: 1.2rem; */
    }
}


.slick-dots li {
    width: 1rem;
    height: 1rem;
    margin: 0;
}

@media (min-width: 768px) {
    .slick-dots li {
        /* top: 0.4rem; */
    }
}

@media (min-width: 768px) {
    .slick-slide {
        /* max-width: 100%; */
        /* position: absolute; */
    }
}


.slick-dots li button:before {
    font-size: 0.7rem;
}

/* header */

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 18.75rem;
    margin: 0 auto;
}

.header-inner {
    position: absolute;
    z-index: 10;
    padding-top: 1.5rem;
}

@media (min-width: 768px) {
    .header-inner {
        padding-top: 2rem;
    }
}


/* mainvsiual */

.cover {
    position: relative;
}

.cover__image img {
    top: 0;
    /* position: absolute; */
    /* object-position: top ; */
    object-fit: cover;
    width: 100%;
    height: 100%;


}

.cover__text {
    max-width: 15.625rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    transform: translate(9%, -22%);
}

@media (min-width: 768px) {
    .cover__text {
        top:34.1%;
        left:13.3%;
        display:flex;
        flex-direction:column;
    }
}

.cover__maintext {
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 2.5rem;
    position: relative;
    letter-spacing: 0.32em;
}   

@media (min-width: 768px) {
    .cover__maintext {
        font-size: 3.125rem;
        letter-spacing:0.3em;
        row-gap:.5rem;
    }
}

.cover__subtext {
    font-size: 1.25rem;
    white-space: nowrap;
    letter-spacing: 0.3em;
}

@media (min-width: 768px) {
    .cover__subtext {
        font-size: 1.5625rem;
    }
}   


/* about */
.about {
    position: relative;
}

.about__image {
    position: relative;
    width: 100%;
    padding-bottom: 19.55rem;
}

@media (min-width: 768px) {
    .about__image {
        padding-bottom: 7.55rem;
    }
}

.about__image img {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%;
}

.about__box {
    display:flex;
    justify-content:center;
}

@media (min-width: 768px) {
    .about__box {
        width:100%;
        margin: 0 auto;
        padding:0 5.7rem 0 1rem;
        display: flex;
        /* flex-direction:column; */
        justify-content:flex-end;
        max-width: 75rem;
    }
}

.about__text {
    max-width: 23rem;
    position: relative;
    /* margin: 0 auto; */
    padding-top: 2.5rem;
    line-height: 1.7;
    letter-spacing: .03em;
    color: #fff;
}

@media (min-width: 768px) {
    .about__text {
        max-width: 26.8125rem;
    }
}

.about__maintitle {
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 0em;
}

@media (min-width: 768px) {
    .about__maintitle {
        font-size: 2.375rem;
        padding-top: 5rem;
        padding-right:.9rem;
    }
}

.about__subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .about__subtitle {
        line-height:1.4;
        letter-spacing:-.005em;
        text-align: left;
    }
}

.about__content {
    font-size: 0.875rem;
    line-height: 2.28;
    letter-spacing: .0;
    padding: .7rem .4rem 0 .3rem;
}

@media (min-width: 768px) {
    .about__content {
        padding: 0;
        padding-top: 1.2rem;
    }
}

/* voices */

.voices .container {
    padding-top: 1.9rem;
    padding-bottom: 2.7rem;
}

.voices__slider-wrapper {
    position: relative;
    max-width: 24.375rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .voices__slider-wrapper {
        max-width: 75rem;
    }
}

.voices__slick {
    background-color: #C6F0FE;
    margin: 2.3rem 3.45rem 0rem 3.45rem;
    padding: 1rem .5rem 1.55rem 0rem;
}

@media (min-width: 768px) {
    .voices__slick {
        background: none;
        max-width: 61.25rem;
    }
}

.voices__slick-item {
}

@media (min-width: 768px) {
    .voices__slick-item {
        background-color: #C6F0FE;
        margin: 0 1rem;
    }
}

.voices__slick-item picture img {
    margin: 0 auto;
    padding-top:.85rem;
    padding-left:1.2rem;
    border-radius: 50%;
}

.voices__slick-person {
    line-height:2;
    margin-top: .2rem;
    padding:0 1.4rem 0 .51rem
    font-size: 1rem;
}

.voices__slick-name {
    text-align:center;
    padding-left:.6rem;
}

.voices__slick-comment{
    font-size:14px;
    padding:.5rem .4rem 0 1rem;
}

.voices__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    border-radius: 50%;
    cursor: pointer;

    /* アイコンをクリックしたい部分だけ */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.voices__arrow-prev {
    top:10.7rem;
    left: 0;
    margin-left:.7rem;
}

.voices__arrow-next {
    top:10.7rem;
    right: 0;
    margin-right:.7rem;
}

.voices__arrow i {
    font-size: 34.5px;
    color: #00AFBF;
}


/* acordion */

.question {
    padding-top: .8rem;
    background: linear-gradient(to right, #F4FFE8, #C6F0FE);
}

.question .container {
    padding-top:.1rem;
    padding-inline: 1rem;
}

@media (min-width: 768px) {
    .question .container {
        /* padding-inline: 4.65em; */
    }
}

.question .section__title {
    /* position: relative; */
    /* text-align: center; */
    /* padding: 0; */
    /* padding-top: 0.4rem; */
    /* padding-right: 0.1rem; */
    /* margin: 0; */
    /* font-size: 1.51rem; */
}

@media (min-width: 768px) {
    .question .section__title {
        /* letter-spacing: 0.025em; */
        /* padding-top: 1.85rem; */
        /* padding-bottom: 0.9rem; */
        /* font-size: 2.2rem; */
    }
}

.question .section__subtitle {
    padding-left:.05rem;
    padding-bottom: 2.4rem;
    letter-spacing:.03em;
}

.question__flex {
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
}

@media (min-width: 768px) {
    .question__flex {
        margin: 0 auto;
max-width: 37.5rem;
        /* padding-top: 2.25rem; */
        /* row-gap: 1.25rem; */
    }
}

.question__container {
    /* margin-inline: 1rem; */

}

.question__box {
    padding-inline:.8rem;
    padding-bottom: 1.8rem;
    background-color: #fff;

}

.question__box:nth-child(2) {
    padding-bottom: 1.15rem;
}

.question__box:nth-child(3) {
    padding-bottom: 1.15rem;
}

.question__box:nth-child(4) {
    padding-bottom: 1.15rem;
}


.question__box:nth-child(5) {
    padding-bottom: 1.15rem;
}


.question__acordion {
    display: flex;
    transform: rotate(0deg);
    transition: all 1s;
    line-height:.8;
}

@media (min-width: 768px) {
    .question__acordion {
        /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    padding-left: 1.4rem;
    padding-bottom: 1.1rem; */
    }
}

.question__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .question__icon {
        /* width: 3rem;
    height: 3rem;
    padding: 1.2rem 0 0 2rem; */
    }
}

.question__q-icon {
    font-size: 1rem;
    margin-left:.16rem;
    margin-bottom: .7rem;
}

@media (min-width: 768px) {
    .question__q-icon {
        font-size: 1.125rem;
        /* padding-bottom: 1.3rem; */
    }
}

.question__box:nth-child(n+2):nth-child(-n+5) .question__q-icon{
    margin-bottom:.6rem;
}

.question__a-icon {
    font-size: 1rem;
    margin-left:.15rem;
    margin-bottom: 7.8rem;
}

.question__q-content {
    line-height:1.8;
    font-size: 0.9375rem;
    margin-top:1rem;
    margin-left:.9rem;
}

@media (min-width: 768px) {
    .question__q-content {
        /* padding-right: 5rem;
    padding-bottom: 0.3rem; */
    }
}

@media (min-width: 768px) {
    .question__q-content:nth-child(1) {
        /* letter-spacing: 0.003em; */
        /* padding-top: 0; */
        /* margin-left: 0.2rem; */
    }
}

.question__a-content {
    line-height:1.86;
    font-size: 0.9375rem;
    margin-top:.8rem;
    margin-left:1.2rem;
}

.question__answer .question__a-content:nth-child(2) {
    font-size: 0.9375rem;
    margin-top: .9rem;
    margin-left:1.2rem;
}

.question__bi {
    color: #707070;
    margin-top:1.5rem;
    margin-right:.1rem;
}

.question__bi i {
    font-size: .9rem;
}

.question__acordion .question__bi:nth-of-type(2) {
margin-top:1.6rem;    
}


.question__acordion.active ::before {
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .question__bi {
        /* padding-right: 1.2rem; */
    }
}

@media (min-width: 768px) {
    .question__bi i {
        /* font-size: 1.5rem; */
    }
}

.question__answer {
    display: flex;
    /* padding-top: 1rem; */
    /* padding-inline: 1rem; */
    /* margin-top: 1.1rem; */
}

@media (min-width: 768px) {
    .question__answer {
        /* margin-top: 0.18rem; */
        /* padding-top: 0.98rem; */
        /* padding-bottom: 1.4rem; */
    }
}

.question__answer {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 1.4rem; */
    /* height: 1.4rem; */
    /* padding: 2rem 0 0 2rem; */
}

@media (min-width: 768px) {
    .question__answer {
        /* width: 3rem; */
        /* height: 3rem; */
        /* padding: 1.65rem 0 0 2rem; */
        /* margin-top: 0.25rem; */
        /* margin-left: 0.4rem; */
    }
}

.question__a-icon {
    /* font-size: 1rem; */
    /* padding-right: 2rem; */
    /* padding-bottom: 2rem; */
}

@media (min-width: 768px) {
    .question__a-icon {
        /* padding-left: 0.1rem; */
        /* padding-bottom: 1.4rem; */
        /* font-size: 1.5rem; */
    }
}

@media (min-width: 768px) {
    .question__a-icon:nth-child(2) {
        /* padding-left: 0.1rem; */
        /* padding-bottom: 1.5rem; */
        /* font-size: 1.5rem; */
    }
}

@media (min-width: 768px) {
    .question__a-icon:nth-child(3) {
        /* padding-left: 0.1rem; */
        /* padding-bottom: 1.6rem; */
        /* font-size: 1.5rem; */
    }
}

@media (min-width: 768px) {
    .question__a-icon:nth-child(4) {
        /* padding-left: 0.1rem; */
        /* padding-bottom: 1.7rem; */
        /* font-size: 1.5rem; */
    }
}



@media (min-width: 768px) {
    .question__a-content {
        /* padding-top: 0.7rem; */
        /* padding-left: 1rem; */
        /* padding-right: 3rem; */
        /* padding-bottom: 0.55rem; */
    }
}

@media (min-width: 768px) {
    .question__acordion:nth-child(2) {
        /* display: flex; */
        /* justify-content: space-between; */
        /* padding-bottom: 1rem; */
    }
}

.question__q-content:nth-child(2) {
    /* padding-top: 0.1rem; */
}

@media (min-width: 768px) {
    .question__q-content:nth-child(2) {
        /* white-space: nowrap; */
        /* margin-right: auto; */
        /* margin-left: 0.4rem; */
        /* padding-top: 0.2rem; */
        /* text-align: left; */
    }
}

@media (min-width: 768px) {
    .question__icon:nth-child(2) {
        /* margin-top: 0.35rem; */
        /* margin-left: 0.4rem; */
    }
}

@media (min-width: 768px) {
    .question__a-content:nth-child(2) {
        /* padding-top: 0.8rem; */
        /* padding-bottom: 0.7rem; */
    }
}

@media (min-width: 768px) {
    .question__acordion:nth-child(3) {
        /* display: flex; */
        /* justify-content: space-between; */
        /* padding-top: 1.1rem; */
        /* padding-bottom: 1.2rem; */
    }
}

.question__q-content:nth-child(3) {
    /* letter-spacing: 0.03em; */
    /* padding-top: 0.2rem; */
}

@media (min-width: 768px) {
    .question__q-content:nth-child(3) {
        /* white-space: nowrap; */
        /* padding-top: 0.3rem; */
        /* margin-right: auto; */
        /* margin-left: 0.4rem; */
        /* letter-spacing: 0; */
    }
}


.question .section__bottom {
    margin-top:1.9rem;
}


/* footer */


.footer {
    position: relative;
    background-color: #0071CE;
    color: #fff;
}

.footer__bi {
    line-height:1.1;
    display:flex;
    justify-content:center;
    align-content:center;
    position: absolute;
    top: -2.52rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.6rem;
    font-size:2rem;
    background-color: #0071CE;
    /* cursor: pointer; */
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.4rem;
}

.footer__nav ul{
    display: flex;
    justify-content: center;
    column-gap: 1.9rem;;
}

.footer__nav li {
    font-size: 0.75rem;
}

.footer__copyright {
    text-align: center;
    padding: 1.65rem .25rem 1.4rem .2rem;
    font-size: 11px;
    letter-spacing:em;
}